/* Additional custom styles */

/* Styles for phishing warning page */
.phishing-warning {
    background-color: red;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.phishing-warning h2 {
    font-weight: bold;
}

.phishing-warning .alert {
    margin-bottom: 20px;
}
.card {
    border-radius: 10px;
    border: 1px solid var(--bs-border-color);
}

.card-header {
    background-color: var(--bs-dark);
    border-bottom: 1px solid var(--bs-border-color);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--bs-dark);
    border-top: 1px solid var(--bs-border-color);
}

main {
    margin-bottom: 100px;
}

.table {
    background-color: var(--bs-dark);
}
